@import 'progress.css';
@import 'bootstrap.min.css';
@font-face {
  font-family: 'ralewayregular';
  src: url('../fonts/Raleway-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'ralewaymedium';
  src: url('../fonts/Raleway-SemiBold.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'ralewaysemibold';
  src: url('../fonts/Raleway-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'helveticaregular';
  src: url('../fonts/HelveticaNeueLTStd-Cn.otf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'helveticamedium';
  src: url('../fonts/HelveticaNeueLTStd-Hv.otf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'aparaj';
  src: url('../fonts/aparaj.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'dragon';
  src: url('../fonts/Dragon_is_coming.otf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
/************network font********************/
/************network color********************/
.no-padding {
  padding: 0;
}
html,
body {
  height: 100%;
  overflow-x: hidden;
}
body {
  background: url('../images/bg.jpg');
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 970px !important;
  }
}
header {
  height: 700px;
  display: block;
  background: url(../images/pattern-1.png);
  width: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding-top: 30px;
  overflow: hidden;
}
header .header-content {
  background-image: -moz-linear-gradient(90deg, #ffe6fe 0%, #ffffff 100%);
  background-image: -webkit-linear-gradient(90deg, #ffe6fe 0%, #ffffff 100%);
  background-image: -ms-linear-gradient(90deg, #ffe6fe 0%, #ffffff 100%);
  height: 600px;
  position: relative;
  border-radius: 30px;
  padding: 0;
  -webkit-box-shadow: 0px 0px 12px 8px #edd3eb;
  -moz-box-shadow: 0px 0px 12px 8px #edd3eb;
  box-shadow: 0px 0px 12px 8px #edd3eb;
}
header .header-content .left-part {
  position: absolute;
  height: 100%;
  left: 0;
  width: 80%;
  top: 0;
  z-index: 1;
  overflow: hidden;
}
header .header-content .left-part img {
  width: 100%;
  border-top-left-radius: 30px;
  height: 100%;
}
header .header-content .bottom-part {
  position: absolute;
  left: -30px;
  bottom: -60px;
  width: 33%;
  z-index: 2;
}
header .header-content .bottom-part img.bottles {
  width: 100%;
  z-index: 99;
  position: relative;
}
header .header-content .bottom-part .claim-btn {
  position: absolute;
  bottom: 80px;
  z-index: 0;
  display: inline-block;
  width: 100%;
  right: -80%;
}
header .header-content .bottom-part .claim-btn img.claim {
  width: 100%;
  position: absolute;
}
header .header-content .bottom-part .claim-btn span {
  position: absolute;
  z-index: 99;
  display: block;
  right: 20px;
  color: #FFFFFF;
  font-family: 'helveticamedium', sans-serif;
  text-transform: uppercase;
  line-height: 50px;
}
header .header-content .logo {
  width: 250px;
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
  margin-top: 20px;
  z-index: 2;
}
header .header-content .secure {
  position: relative;
  float: right;
  margin-top: 20px;
  margin-right: 20px;
}
header .header-content .days {
  float: right;
  clear: both;
  height: 150px;
  position: relative;
  padding: 0;
}
header .header-content .days img {
  width: 100%;
  height: 100%;
}
header .header-content .days h2 {
  position: absolute;
  right: 15px;
  top: 40px;
  font-size: 22px;
  text-align: right;
  font-family: 'helveticaregular', sans-serif;
}
header .header-content .days h2 strong {
  color: #e24ed9;
}
header .header-content .advantages {
  float: right;
  clear: both;
  text-align: center;
  position: relative;
  z-index: 9;
  margin-top: -20px;
}
header .header-content .advantages ul {
  overflow: hidden;
}
header .header-content .advantages ul li {
  line-height: 50px;
  position: relative;
}
header .header-content .advantages ul li a {
  cursor: default;
  text-decoration: none;
  color: #282828;
  font-family: 'ralewaymedium', sans-serif;
}
header .header-content .advantages ul li a span {
  font-family: 'ralewaysemibold', sans-serif;
}
header .header-content .advantages ul li a:hover {
  color: #282828;
}
header .header-content .advantages ul li img {
  margin-right: 10px;
}
header .header-content .advantages ul li .line {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 0;
}
header .header-content .verified {
  position: relative;
  clear: both;
  float: right;
  padding-right: 40px;
}
.strength-block {
  margin-bottom: 100px;
}
.strength-block .strength {
  position: relative;
  padding: 0;
  background-image: -moz-linear-gradient(90deg, #ffd9fd 0%, #ffffff 100%);
  background-image: -webkit-linear-gradient(90deg, #ffd9fd 0%, #ffffff 100%);
  background-image: -ms-linear-gradient(90deg, #ffd9fd 0%, #ffffff 100%);
}
.strength-block .strength .texture {
  position: absolute;
  width: 100%;
  top: 0;
}
.strength-block .strength .left {
  position: absolute;
  left: -150px;
  top: -50px;
}
.strength-block .strength .right {
  position: absolute;
  right: 0;
  top: 0;
}
.strength-block .strength .heading {
  font-size: 52px;
  margin: 30px 0px;
  font-family: 'aparaj', sans-serif;
  text-align: center;
}
.strength-block .strength .text-info img {
  float: left;
}
.strength-block .strength .text-info h4 {
  padding-left: 10px;
  color: #bf35a6;
  font-family: 'ralewaysemibold', sans-serif;
  font-size: 24px;
}
.strength-block .strength .text-info p {
  padding-left: 40px;
  font-family: 'ralewaymedium', sans-serif;
  font-size: 13px;
  color: #1c1c1c;
}
.strength-block .strength .strength-footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
.strength-block .strength .strength-footer .left-part {
  left: -150px;
  top: -100px;
  position: absolute;
}
.strength-block .strength .strength-footer .right-part {
  right: -100px;
  top: -100px;
  position: absolute;
  width: 200px;
}
.strength-block .strength .strength-footer .right-part img {
  width: 100%;
}
.strength-block .strength .strength-footer img.center {
  position: absolute;
  top: 0;
  width: 100%;
}
.serum {
  margin-top: 30px;
  padding: 0;
  position: relative;
  background-image: -moz-linear-gradient(90deg, #ffd9fd 0%, #ffffff 100%);
  background-image: -webkit-linear-gradient(90deg, #ffd9fd 0%, #ffffff 100%);
  background-image: -ms-linear-gradient(90deg, #ffd9fd 0%, #ffffff 100%);
  border-radius: 30px;
  overflow: hidden;
  border: 1px solid #ffcbfc;
  margin-bottom: 50px;
  padding-bottom: 30px;
}
.serum .holder {
  padding: 40px;
}
.serum .texture {
  position: absolute;
  width: 100%;
  top: 0;
}
.serum .right {
  position: absolute;
  right: 30px;
  top: 20px;
}
.serum .heading {
  font-size: 52px;
  margin-bottom: 15px;
  font-family: 'aparaj', sans-serif;
  text-align: left;
  line-height: 25px;
}
.serum .hair img {
  width: 100%;
}
.serum .sub-heading {
  font-family: 'ralewaymedium', sans-serif;
  color: #b60094;
  margin-bottom: 40px;
  padding-left: 10px;
}
.serum .text {
  color: #1b1b1b;
  font-family: 'ralewaymedium', sans-serif;
}
.younger {
  margin-bottom: 150px;
}
.younger .left-block {
  padding: 0;
}
.younger .left-block .header {
  height: 130px;
  position: relative;
}
.younger .left-block .header img {
  width: 100%;
}
.younger .left-block .header span {
  position: absolute;
  top: 20px;
  font-family: 'helveticamedium', sans-serif;
  font-size: 30px;
  text-align: center;
  color: #FFFFFF;
  left: 0;
}
.younger .left-block .user-block {
  background-color: #842b73;
  padding-top: 30px;
  display: table;
  width: 100%;
  margin-top: -20px;
  position: relative;
  overflow: hidden;
  color: #FFFFFF;
  padding-bottom: 10px;
}
.younger .left-block .user-block .bg {
  position: absolute;
  width: 100%;
  top: 0;
  margin-top: 0;
  height: 100%;
}
.younger .left-block .user-block img {
  width: 100%;
  width: 150px;
  margin-top: 10px;
}
.younger .left-block .user-block h3 {
  font-family: 'helveticamedium', sans-serif;
  margin-top: 50px;
}
.younger .left-block .user-block p {
  font-family: 'ralewaymedium', sans-serif;
}
.younger .benefit {
  padding-left: 20px;
}
.younger .benefit .holder {
  background-image: -moz-linear-gradient(90deg, #ffd9fd 0%, #ffffff 100%);
  background-image: -webkit-linear-gradient(90deg, #ffd9fd 0%, #ffffff 100%);
  background-image: -ms-linear-gradient(90deg, #ffd9fd 0%, #ffffff 100%);
  display: table;
  width: 100%;
  border: 1px solid #ffcbfc;
  border-radius: 10px;
  padding: 20px;
  padding-top: 0px;
  position: relative;
  padding-bottom: 100px;
}
.younger .benefit .holder .bottom-img {
  position: absolute;
  right: 0;
  bottom: 0;
}
.younger .benefit .holder .middle-img {
  position: absolute;
  left: -100px;
  bottom: -100px;
  z-index: 0;
}
.younger .benefit .holder .heading {
  font-size: 42px;
  margin-bottom: 15px;
  font-family: 'aparaj', sans-serif;
  text-align: left;
  line-height: 42px;
}
.younger .benefit .holder img {
  position: relative;
  z-index: 99;
}
.younger .benefit .holder h3 {
  font-family: 'helveticaregular', sans-serif;
  color: #b60094;
  font-size: 24px;
}
.younger .benefit .holder p {
  font-family: 'ralewaymedium', sans-serif;
  font-size: 13px;
  margin-bottom: 0;
}
.amazing {
  position: relative;
  border-radius: 30px;
  background-image: -moz-linear-gradient(90deg, #ffd9fd 0%, #ffffff 100%);
  background-image: -webkit-linear-gradient(90deg, #ffd9fd 0%, #ffffff 100%);
  background-image: -ms-linear-gradient(90deg, #ffd9fd 0%, #ffffff 100%);
  overflow: hidden;
  border: 1px solid #ffcbfc;
  margin-bottom: 50px;
  padding-bottom: 30px;
}
.amazing .texture {
  position: absolute;
  width: 100%;
  top: -50px;
}
.amazing .heading {
  font-size: 52px;
  margin: 30px 0px;
  font-family: 'aparaj', sans-serif;
  text-align: center;
}
.amazing .holder img {
  width: 100%;
  margin-bottom: 50px;
}
.amazing .holder p {
  font-family: 'ralewaymedium', sans-serif;
  font-style: italic;
}
.bottom-info {
  position: relative;
  border-radius: 30px;
  background-image: -moz-linear-gradient(90deg, #ffd9fd 0%, #ffffff 100%);
  background-image: -webkit-linear-gradient(90deg, #ffd9fd 0%, #ffffff 100%);
  background-image: -ms-linear-gradient(90deg, #ffd9fd 0%, #ffffff 100%);
  border: 1px solid #ffcbfc;
  padding: 0;
  padding-bottom: 100px;
  min-height: 400px;
  margin-bottom: 50px;
}
.bottom-info .girl {
  position: absolute;
  right: 0;
  bottom: -40px;
  z-index: 99;
  right: -30px;
}
.bottom-info .texture {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9;
  height: 100%;
}
.bottom-info .heading {
  font-size: 22px;
  font-family: 'helveticaregular', sans-serif;
}
.bottom-info .heading strong {
  color: #e24ed9;
}
.bottom-info .foot {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}
.bottom-info .holder {
  padding: 30px;
}
.bottom-info .holder h3,
.bottom-info .holder h4 {
  font-family: 'dragon', sans-serif;
  font-size: 100px;
  margin: 0;
  line-height: 70px;
  margin-bottom: 20px;
}
.bottom-info .holder p {
  font-family: 'helveticaregular', sans-serif;
  font-size: 22px;
}
.footer .navigate a {
  padding: 0px 10px;
  color: #000000;
  font-family: 'ralewaysemibold', sans-serif;
  border-right: 1px solid #000000;
  font-size: 13px;
}
.overlay {
  position: absolute;
  z-index: 99999;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
}
.pie_progress {
  width: 160px;
  margin: 10px auto;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0px auto;
  margin-top: 150px;
  z-index: 999999999;
  font-family: 'helveticaregular', sans-serif;
}
.pie_progress__svg path {
  stroke: #bf35a6 !important;
}
@media all and (max-width: 768px) {
  .pie_progress {
    width: 80%;
    max-width: 300px;
  }
}
/*media screen*/
@media screen and (max-width: 760px) {
  .header-content {
    height: 500px !important;
  }
  .header-content .logo {
    width: 150px !important;
  }
  .header-content .secure {
    width: 20%;
  }
  .header-content .left-part,
  .header-content .bottom-part img.bottles {
    display: none;
  }
  .header-content .bottom-part {
    position: absolute;
    left: -30px;
    bottom: -80px;
    width: 100% !important;
    z-index: 2;
  }
  .header-content .bottom-part .claim-btn {
    position: absolute;
    bottom: 60px !important;
    z-index: 0;
    display: inline-block;
    width: 300px !important;
    right: auto !important;
    left: auto !important;
    margin: 0 auto;
  }
  .header-content .days h2 {
    left: 0;
    right: 0;
    text-align: center !important;
  }
  .header-content .verified {
    float: none !important;
    display: block;
    margin: 0 auto;
  }
}
@media screen and (max-width: 980px) {
  .strength-block .strength {
    position: relative;
    padding: 0;
    background: url(../images/vector1.png);
    background-color: #FFFFFF;
  }
  .strength-block .strength .left {
    display: none;
  }
  .strength-block .strength .heading {
    font-size: 32px;
  }
  .strength-block .strength .text-info h4 {
    padding-left: 10px;
    color: #bf35a6;
    font-family: 'ralewaysemibold', sans-serif;
    font-size: 16px;
  }
  .strength-block .strength .strength-footer .left-part {
    display: none;
  }
  .strength-block .strength .strength-footer .right-part {
    display: none;
  }
  .strength-block .strength .strength-footer img.center {
    position: absolute;
    top: 0;
    width: 100%;
  }
  .serum .right img {
    width: 50px;
  }
  .serum .heading {
    font-size: 32px;
  }
  .younger {
    text-align: center;
  }
  .younger .header {
    height: 100px !important;
  }
  .younger .header span {
    font-size: 15px !important;
    left: 0;
    right: 0;
  }
  .younger .bottom-img {
    display: none !important;
  }
  .bottom-info {
    text-align: center !important;
  }
  .bottom-info .girl {
    display: none;
  }
}
