@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400);

@font: 'Open Sans', sans-serif;

/************network color********************/
@primary-color: #00ff93;
@heading-color: #2b21fe;
@content-color: #585858;


html
{
	font-family: @font;
	font-weight: 400;
}
.hero-unit
{
	.bxslider
	{
		li 
		{
			position: relative;	
		}

		li:before
		{
			content: "";
			background-color: #FFFFFF;
			/* IE9 SVG, needs conditional override of 'filter' to 'none' */
			background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3ZGI5ZTgiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
			background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(125,185,232,0) 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(125,185,232,0))); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(125,185,232,0) 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(125,185,232,0) 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(125,185,232,0) 100%); /* IE10+ */
			background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(125,185,232,0) 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#007db9e8',GradientType=0 ); /* IE6-8 */

			position: absolute;		
			width: 100%;
			height: 100%;
			display: block;
			opacity: 0.6;
			
		}
		h2
		{
			position: absolute;
			top: 10px;
		}


	}
	.bx-wrapper
	{
		margin-bottom: 0;
		max-height: 630px !important;
		img 
		{
			height: auto;
		}
	}
	.bx-viewport
	{
		/*height: 430px !important;*/
		max-height: 430px !important;
		-webkit-box-shadow:none !important;
		box-shadow:none !important;
		border: 0px !important;
		left: 0px !important;
		background: #fff;
		-webkit-transform: translatez(0);
		-moz-transform: translatez(0);
		-ms-transform: translatez(0);
		-o-transform: translatez(0);
		transform: translatez(0);
	}
	.slider-bottom
	{
		background-color: #363636;	
		padding-top: 2px;	
		.thumbs-section
		{
			.image-holder
			{
				padding: 0;
				background-color: #000000;
				img 
				{
					width: 100%;		
					opacity: 0.4;		
				}
				.info
				{
					position: absolute;
					width: 100%;
					color: #FFFFFF;
					font-family: @font;
					bottom: 10px;
					text-align: center;
				}
			}
		}
	}
	.banner-info
	{
		max-width: 500px;
		margin: 0 auto;
		margin-top: 8%;
		h2 
		{
			text-align: center;
			font-family: @font;
			text-transform: uppercase;
			font-weight: 900;	
			color: #FFFFFF;
			text-shadow: 2px 4px 3px rgba(0,0,0,0.3);		
		}
		.input-group
		{
			.input-group-addon
			{
				background-color: @primary-color;
				font-weight: 600;				
			}
		}
	}
}

.top-bar
{
	position: absolute;
	top: 0;
	z-index: 99999;	
	width: 100%;
	padding-top: 20px;
	.logo
	{
		float: left;
		font-size: 30px;
		font-family: @font;
		font-weight: 900;
	}
	.right-part
	{
		float: right;
		.btn 
		{
			background-color: transparent;
			border:2px solid #000000;
			padding: 5px 25px;
			font-family: @font;
			font-weight: 600;
			text-transform: uppercase;
			font-size: 12px;
			margin-left: 15px;
			transition: all 0.3s ease;
			-webkit-transition: all 0.3s ease;
			-moz-transition: all 0.3s ease;
			&:hover
			{
				background-color: @primary-color;				
			}
		}
	}
}

.business-block
{
	text-align: center;
	padding: 40px 0px;
	.info
	{
		margin-top: 20px;
		font-size: 14px;
		font-weight: 600;
		color: @content-color;
		font-family: @font;
	}
	.img-holder
	{
		background-color: #000000;
		color: #FFFFFF;
		text-align: center;
		position: relative;
		height: 200px;
		overflow: hidden;
		h2
		{
			position: absolute;
			width: 100%;
			top: 40px;
			font-size: 25px;
			line-height: auto;
			color: #FFFFFF;
			font-family: @font;
			font-weight: 300;
			text-transform: uppercase;
		}
		img 
		{
			opacity: 0.5;
		}
	}
	.review
	{
		background-color: @primary-color;
		margin-top: 40px;
	}
}


.shop-block
{
	padding: 40px 0px;
	.city
	{
		font-family: @font;
		font-size: 14px;
		font-weight: 600;
		color: @primary-color;
		margin-bottom: 40px;
	}
	strong
	{
		color: @heading-color;
		text-transform: none;
	}
	.product-display
	{
		margin-bottom: 30px;
		.main-img
		{
			width: 100%;
		}
		.info-part
		{
			background-color: #ebebeb;
			padding: 15px;
			overflow: hidden;
		}
		.avatar
		{
			img
			{
				width: 60px;
				border-radius: 50%;
				border:1px solid #d7d7d7;
				float: left;
				margin-bottom: 10px;
			}			
			h4 
			{
				font-size: 16px;
				color: #000000;
				margin: 0;
				margin-left: 70px;
				padding-top: 10px;
				font-weight: 600;
			}
			.rating {
				
				margin-left: 10px;	
				float: left;			
			}
			.rating > span {
				display: inline-block;
				position: relative;
				color: #4baffb;						
			}
			
		}
		h3.name
		{
			font-size: 18px;
			color: @heading-color;
			font-weight: 600;
			margin:0;
		}
		p.subinfo 
		{
			color: #333333;
			font-size: 14px;
			font-family: @font;
		}
		.offer
		{
			float: left;
			font-family: @font;		
		}
		.claim
		{
			float: right;
			font-family: @font;
			padding: 5px 25px;			
		}
		p.desc 
		{
			clear: both;
			font-size: 13px;
			color: @content-color;
			font-family: @font;
		}
		.button-pack
		{
			float: left;
		}
		.view
		{
			float: right;
		}
	}
	a.linked
	{
		color: @primary-color;
		text-align: center;
		display: block;	
		text-transform: uppercase;
	}
}

.ongo
{
	padding: 40px 0px;
	.left-part
	{
		img
		{
			width: 100%;
			margin-bottom: 20px;
		}
		h2
		{
			font-size: 14px;
			text-transform: uppercase;
			font-family: @font;
			text-align: center;
			font-weight: 600;
		}
		input
		{
			border-radius: 0;
			border-width: 0;
			height:50px;
		}
		.input-group
		{			
			.input-group-addon
			{
				background-color: #00ffed;
				font-weight: 600;				
				border-radius: 0;
				border-width: 0;
				height:50px;
				padding-left: 25px;
				padding-right: 25px;
			}
		}
	}
	.right-part
	{
		img 
		{
			width:400px;
			margin:0 auto;
		}		
	}

}

.best-block
{
	padding: 40px 0px; 
	.left-part
	{
		.header
		{
			margin-top: 20px;
			h2
			{
				font-size: 14px;
				text-transform: uppercase;
				font-family: @font;
				text-align: left;
				font-weight: 600;
				float: left;
				display: inline-block;
				margin: 0;
				margin-bottom: 40px;
				color: #980030;
			}
			a 
			{
				color: @primary-color;
				display: inline-block;
				float: right;
				color: @heading-color;
				font-weight: 400;
			}
		}
		.avatar
		{
			clear: both;
			img
			{
				width: 100px;
				border-radius: 10px;
				border:1px solid #d7d7d7;
				float: left;
				margin-bottom: 10px;
			}			
			h4 
			{
				font-size: 16px;
				color: @heading-color;
				margin: 0;
				margin-left: 110px;
				padding-top: 20px;
				font-weight: 600;
			}
			.rating {
				background-color: @heading-color;
				margin-left: 10px;	
				float: left;
				padding:2px 5px;			
			}
			.rating > span {
				display: inline-block;
				position: relative;
				color: yellow;						
			}
			
		}
		.item-shop
		{
			border-bottom: 2px solid #000000;
			display: table;
			width: 100%;
			padding:20px 0px;
		}
		.tab-body
		{			
			border:1px solid #ddd;
			border-left-width: 0;
			margin-top: 2px; 
			min-height: 735px;
		}		
	}
	.menu-tab
	{
		padding-right: 0px !important;
	}
	.right-part
	{
		text-align: center;
		.countries
		{
			padding-top: 20px;
			text-align: left;
			padding-left: 30px;	
			text-transform: capitalize;			
			li 
			{
				line-height: 26px;
			}
		}
	}
}

.register-block
{
	background-color: #ebebeb;		
	.head-part
	{
		min-height: 60px;
		color: #FFFFFF;
		text-align: center;
		text-transform: uppercase;
		font-family: @font;
		padding-top: 20px;
		font-size: 20px;
		margin-bottom: 50px;
		background-color: #373737;
	}
	.container
	{
		position: relative;
		padding-bottom: 40px;	
		.circles-holder
		{
			text-align: center;
		}
		.circle-section
		{
			text-align: center;			
			max-width:400px;
			border-radius: 50%;
			height: 400px;
			width: 400px;
			padding-top: 80px;
			display: inline-block;
			&.first
			{
				position: relative;
				background: rgba(0,255,237,0.4);
				.text-or
				{
					position: absolute;
					right: 30px;
					top: 180px;
					font-size: 20px;
				}
			}
			&.second
			{
				background: rgba(116,245,189,0.7);
				margin-left: -80px;
			}
			h3 
			{
				font-family: @font;
				text-transform: uppercase;
				font-size: 20px;
				font-weight: 600;
				margin-bottom: 20px;
			}
			p
			{
				padding: 0px 80px;
				font-family: @font;				
				text-transform: capitalize;
				margin-bottom: 20px;
			}
			.btn
			{
				margin-top: 60px;
			}
		}
	}

}

.feed-block
{
	background-color: #636363;
	padding: 40px 0px;
	.heading
	{
		text-align: center;
		text-transform: uppercase;
		font-family: @font;		
		font-size: 14px;
		margin-bottom: 50px;
		color: #FFFFFF;
		font-weight: 600;
	}
	.apply-border
	{
		border-right: 2px solid #FFFFFF;
	}
	.avatar,.feed
	{
		img
		{
			width: 60px;
			border-radius: 9px;
			border:1px solid #d7d7d7;
			float: left;
			margin-bottom: 10px;
		}			
		h4 
		{
			font-size: 16px;
			color: #4aaefa;
			margin: 0;
			margin-left: 70px;

			font-weight: 600;
		}
		.rating {

			margin-left: 10px;	
			float: left;			
		}
		.rating > span {
			display: inline-block;
			position: relative;
			color: #4baffb;						
		}
		p
		{
			color: @primary-color;
			font-size: 14px;
			font-weight: 600;
			font-family: @font;
			margin-left: 70px;
		}

	}
	.feed
	{
		h4 
		{
			color: @primary-color;
		}
		p 
		{
			color: #FFFFFF;
			font-size: 12px;
			font-weight: 400;
			font-family: @font;
		}
	}
	.avatar-second
	{
		text-align: center;
		img
		{
			width: 60px;
			border-radius: 9px;
			border:1px solid #d7d7d7;			
			margin-bottom: 10px;
			margin:0 auto;					
		}			
		h4 
		{
			display: block;			
			font-size: 16px;
			color: @primary-color;
			margin: 0;			
			font-weight: 600;
		}
		.rating {
		}
		.rating > span {
			display: inline-block;
			position: relative;
			color: #4baffb;						
		}
		p
		{
			color: @primary-color;
			font-size: 14px;
			font-weight: 600;
			font-family: @font;
			
		}

	}
	p.text-infos
	{
		color:#FFFFFF;
		font-size: 14px;
		font-weight: 400;
		font-family: @font;		
	}
}

.footer
{
	background-color: #373737;
	padding: 40px 0px;
	.heading
	{
		color: #00ffed;
		margin-bottom: 10px;
		font-family: @font;
	}
	ul 
	{
		li 
		{
			a 
			{
				color: #FFFFFF;
			}
		}
	}
	p 
	{
		color: #FFFFFF;
	}
}

/*global*/
.heading-text
{
	font-size: 30px;
	text-align: center;
	text-transform: uppercase;
	font-family: @font;
	font-weight: 400;
	color: #000000;
	margin-bottom: 30px;	
	clear: both;
}
.small-info
{
	font-size: 14px !important;
	font-family: @font;
	text-align: center;
	padding: 0px 50px;
	margin-bottom: 30px;	
}
.alternative-bg
{
	background-color: #ebebeb;
}

.btn-dark
{
	background-color: @primary-color;
	color: #000000;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	&:hover
	{
		background-color: darken(@primary-color,5%);
	}
}

.btn-light
{
	background-color: #00ffed;
	color: #000000;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	&:hover
	{
		background-color: darken(#00ffed,5%);
	}
}


/*vertical tabs*/

.nav > li > a
{
	padding: 5px 10px !important;
}
.tabs-left, .tabs-right {
	border-bottom: none;
	padding-top: 2px;
}
.tabs-left {
	border-right: 1px solid #ddd;
}
.tabs-right {
	border-left: 1px solid #ddd;
}
.tabs-left>li, .tabs-right>li {
	float: none;
	margin-bottom: 2px;
	border-radius: 3px;
}
.tabs-left>li {
	margin-right: -1px;
	background-color: #d4d4d4;
	padding: 0;
}
.tabs-right>li {
	margin-left: -1px;
}
.tabs-left>li.active>a,
.tabs-left>li.active>a:hover,
.tabs-left>li.active>a:focus {
	border-bottom-color: #ddd;
	border-right-color: transparent;
}

.tabs-right>li.active>a,
.tabs-right>li.active>a:hover,
.tabs-right>li.active>a:focus {
	border-bottom: 1px solid #ddd;
	border-left-color: transparent;
}
.tabs-left>li>a {
	border-radius: 4px 0 0 4px;
	margin-right: 0;
	display:block;
}
.tabs-right>li>a {
	border-radius: 0 4px 4px 0;
	margin-right: 0;
}
.sideways {
	margin-top:50px;
	border: none;
	position: relative;
}
.sideways>li {
	height: 20px;
	width: 120px;
	margin-bottom: 100px;
}
.sideways>li>a {
	border-bottom: 1px solid #ddd;
	border-right-color: transparent;
	text-align: center;
	border-radius: 4px 4px 0px 0px;
}
.sideways>li.active>a,
.sideways>li.active>a:hover,
.sideways>li.active>a:focus {
	border-bottom-color: transparent;
	border-right-color: #ddd;
	border-left-color: #ddd;
}
.sideways.tabs-left {
	left: -50px;
}
.sideways.tabs-right {
	right: -50px;
}
.sideways.tabs-right>li {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}
.sideways.tabs-left>li {
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
}