

/*===============================================
  html and body
  ================================================= */

  @charset "UTF-8";
  @import 'bootstrap.css';
  @import 'sidebar.less';
  @import 'material-design-iconic-font.min.css';
  @import 'ripple.less';

/*===============================================
  File structure:
  1)html
  2)body styles
================================================= */




/*===============================================
  1) html and body
================================================= */

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	border: none;
	overflow-x: hidden;
}
.dreamz-holder
{
	background-color: red;
	position: relative;
	min-height: 100%;
	background: @body-bg;
	min-height: 4000px;	
	&.menu-fixed
	{
		.menu-sidebar
		{
			position: fixed;
			/*overflow-y: scroll;*/
    		height: 100%;
		}		
	}
	&.menu-right
	{
		.menu-sidebar
		{
			left: auto;
			right: 0;
		}
		.main-holder
		{
			margin-left: 0;
			margin-right: @sidebar-width;
		}		
	}
	&.menu-collapsed
	{
		-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		transition: all 0.5s ease;
		brand
		{
			img.logo
			{
				display: none;
			}
			span 
			{
				display: inline-block;
			}
		}
		.menu-sidebar
		{
			width: @minibar-width;					
		}
		.main-holder
		{
			margin-left: @minibar-width;
		}
		&.menu-right
		{
			.main-holder
			{
				margin-left: 0;	
				margin-right: @minibar-width;				
			}
		}			
	}

}

/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) {
	.dreamz-holder.mini-screen
	{
		.menu-sidebar
		{
			width: @minibar-width;
			margin-left: -@minibar-width;
			brand
			{
				img.logo
				{
					display: none;
				}
				span 
				{
					display: inline-block;
				}
			}

		}		
		.main-holder
		{
			margin-left: 0;
		}
		&.menu-collapsed
		{
			-webkit-transition: all 0.5s ease;
			-moz-transition: all 0.5s ease;
			transition: all 0.5s ease;					
			.menu-sidebar
			{
				width: @minibar-width;
				margin-left: 0;					
			}
			.main-holder
			{
				margin-left: @minibar-width;
			}
			&.menu-right
			{			
				.menu-sidebar
				{
					margin-right: 0px ;								
				}
				.main-holder
				{
					margin-right: @minibar-width;
				}
			}			
		}
		&.menu-right
		{			
			.menu-sidebar
			{
				margin-right: -@minibar-width;								
				margin-left: 0 ;
				overflow-x: hidden;								
			}
			.main-holder
			{
				margin-right: 0;
				margin-left: 0;
			}
		}			
	}
}

/*===============================================
  2) Body styles
================================================= */

.main-holder
{
	margin-left: @sidebar-width;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	transition: all 0.5s ease;	
}
.menu-ontop
{
	.main-holder
	{
		margin-left: 0;
	}	
}



/*===============================================
  2) global styles
================================================= */

.red
{

}
.blue
{

}
.green
{

}
.orange
{

}
.yellow
{

}

.badge
{
	&.primary
	{
		background-color: @primary-color;
	}
}

.material-icon {
	width: 70px;
	height: 70px;
	margin: 55px;
	position: relative;
	background: red;
}
 
.material-icon span,
.material-icon {
	transition: all 500ms ease;
}
 
.material-icon span {
	background-color: red;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.hamburger span {
	height: 10px;
	-webkit-transform: translateY(29px);
}
 
.hamburger .second {
	-webkit-transform: translateY(0);
}
 
.hamburger .third{
	-webkit-transform: translateY(60px);
}
/* This part is added to the hamburger css so they have the same height and positioning. */
.hamburger span, .arrow span {
	height: 10px;
	-webkit-transform: translateY(29px);
}
 
/* I also need to move it back a bit to keep it centered. */
.arrow {
	-webkit-transform: rotate(180deg) translateX(-3px);
}
 
.arrow .second,
.arrow .third {
	-webkit-transform: rotate(-45deg) translateY(56px);
	width: 40px;
}
 
.arrow .second {
	-webkit-transform: rotate(45deg) translateY(-15px) translateX(40px);
}