@charset "UTF-8";
@import 'bootstrap.css';
@import url(http://fonts.googleapis.com/css?family=Dosis:400,300,200,500,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500,700,900);
@import 'material-design-iconic-font.min.css';
/*===============================================
  html and body
  ================================================= */
/*===============================================
   Fonts variables
================================================= */
/*===============================================
   color variables
================================================= */
.menu-sidebar {
  color: #fff;
  font-size: 13px;
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  min-height: 100%;
  background-color: #ffffff;
  right: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-family: 'Roboto', sans-serif;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.menu-sidebar .logo-dz {
  background-color: #0288d1;
  height: 50px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.156863) 0px 2px 5px 0px, rgba(0, 0, 0, 0.117647) 0px 2px 10px 0px;
  z-index: 9;
  position: relative;
}
.menu-sidebar .logo-dz brand {
  margin: 0;
  line-height: 50px;
  padding: 0px 18px;
  font-size: 20px;
}
.menu-sidebar .logo-dz brand img {
  width: 80px;
}
.menu-sidebar .logo-dz brand span {
  font-size: 24px;
  padding-left: 10px;
  display: none;
  font-weight: 700;
}
.menu-sidebar .logo-dz .menu-btn {
  /*font-size: 25px;
			padding: 0px 18px;
			line-height: @topbar-height;
			color: #FFFFFF;
			z-index: 1;
			cursor: pointer;*/
}
.menu-sidebar .user-block {
  min-height: 90px;
  background: url(../images/avatarbg2.jpg);
  position: relative;
  z-index: 1;
  text-align: center;
}
.menu-sidebar .user-block img {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  left: 0;
  right: 0;
  margin: 0 auto;
  margin-top: 20px;
  border: 4px solid #FFFFFF;
}
.menu-sidebar .user-block .name {
  font-size: 15px;
  color: #212121;
  padding-top: 5px;
  font-weight: 600;
}
.menu-sidebar .user-block .role {
  font-size: 12px;
  color: #727272;
  font-weight: 400;
  padding-bottom: 10px;
}
.menu-sidebar .user-block .edit {
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: #03a9f4;
  color: #333;
  position: absolute;
  bottom: -20px;
  border-radius: 50%;
  right: 18px;
  font-size: 16px;
  color: #FFFFFF;
  text-align: center;
}
.menu-sidebar .menu-wrapper {
  list-style: none;
  padding: 30px 0px;
}
.menu-sidebar .menu-wrapper > li {
  line-height: 40px;
  position: relative;
}
.menu-sidebar .menu-wrapper > li > a {
  text-decoration: none;
  color: #727272;
  font-size: 14px;
  display: block;
  padding-left: 20px;
  transition: all 0.2s ease;
}
.menu-sidebar .menu-wrapper > li > a:hover {
  background-color: #0288d1;
  color: #FFFFFF;
}
.menu-sidebar .menu-wrapper > li > a:hover i.icon {
  color: #FFFFFF;
}
.menu-sidebar .menu-wrapper > li > a i.icon {
  color: #B6B6B6;
  font-size: 16px;
  position: absolute;
  right: 25px;
  top: 10px;
}
.ripplelink {
  text-decoration: none;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  z-index: 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.ripplelink:hover {
  z-index: 1000;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
.ink {
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 100%;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}
.animate {
  -webkit-animation: ripple 0.65s linear;
  -moz-animation: ripple 0.65s linear;
  -ms-animation: ripple 0.65s linear;
  -o-animation: ripple 0.65s linear;
  animation: ripple 0.65s linear;
}
@-webkit-keyframes ripple {
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5);
  }
}
@-moz-keyframes ripple {
  100% {
    opacity: 0;
    -moz-transform: scale(2.5);
  }
}
@-o-keyframes ripple {
  100% {
    opacity: 0;
    -o-transform: scale(2.5);
  }
}
@keyframes ripple {
  100% {
    opacity: 0;
    transform: scale(2.5);
  }
}
/*===============================================
  File structure:
  1)html
  2)body styles
================================================= */
/*===============================================
  1) html and body
================================================= */
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  overflow-x: hidden;
}
.dreamz-holder {
  background-color: red;
  position: relative;
  min-height: 100%;
  background: #e7e9ec;
  min-height: 4000px;
}
.dreamz-holder.menu-fixed .menu-sidebar {
  position: fixed;
  /*overflow-y: scroll;*/
  height: 100%;
}
.dreamz-holder.menu-right .menu-sidebar {
  left: auto;
  right: 0;
}
.dreamz-holder.menu-right .main-holder {
  margin-left: 0;
  margin-right: 250px;
}
.dreamz-holder.menu-collapsed {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.dreamz-holder.menu-collapsed brand img.logo {
  display: none;
}
.dreamz-holder.menu-collapsed brand span {
  display: inline-block;
}
.dreamz-holder.menu-collapsed .menu-sidebar {
  width: 70px;
}
.dreamz-holder.menu-collapsed .main-holder {
  margin-left: 70px;
}
.dreamz-holder.menu-collapsed.menu-right .main-holder {
  margin-left: 0;
  margin-right: 70px;
}
/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) {
  .dreamz-holder.mini-screen .menu-sidebar {
    width: 70px;
    margin-left: -70px;
  }
  .dreamz-holder.mini-screen .menu-sidebar brand img.logo {
    display: none;
  }
  .dreamz-holder.mini-screen .menu-sidebar brand span {
    display: inline-block;
  }
  .dreamz-holder.mini-screen .main-holder {
    margin-left: 0;
  }
  .dreamz-holder.mini-screen.menu-collapsed {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .dreamz-holder.mini-screen.menu-collapsed .menu-sidebar {
    width: 70px;
    margin-left: 0;
  }
  .dreamz-holder.mini-screen.menu-collapsed .main-holder {
    margin-left: 70px;
  }
  .dreamz-holder.mini-screen.menu-collapsed.menu-right .menu-sidebar {
    margin-right: 0px ;
  }
  .dreamz-holder.mini-screen.menu-collapsed.menu-right .main-holder {
    margin-right: 70px;
  }
  .dreamz-holder.mini-screen.menu-right .menu-sidebar {
    margin-right: -70px;
    margin-left: 0 ;
    overflow-x: hidden;
  }
  .dreamz-holder.mini-screen.menu-right .main-holder {
    margin-right: 0;
    margin-left: 0;
  }
}
/*===============================================
  2) Body styles
================================================= */
.main-holder {
  margin-left: 250px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.menu-ontop .main-holder {
  margin-left: 0;
}
/*===============================================
  2) global styles
================================================= */
.badge.primary {
  background-color: #0288d1;
}
.material-icon {
  width: 70px;
  height: 70px;
  margin: 55px;
  position: relative;
  background: red;
}
.material-icon span,
.material-icon {
  transition: all 500ms ease;
}
.material-icon span {
  background-color: red;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.hamburger span {
  height: 10px;
  -webkit-transform: translateY(29px);
}
.hamburger .second {
  -webkit-transform: translateY(0);
}
.hamburger .third {
  -webkit-transform: translateY(60px);
}
/* This part is added to the hamburger css so they have the same height and positioning. */
.hamburger span,
.arrow span {
  height: 10px;
  -webkit-transform: translateY(29px);
}
/* I also need to move it back a bit to keep it centered. */
.arrow {
  -webkit-transform: rotate(180deg) translateX(-3px);
}
.arrow .second,
.arrow .third {
  -webkit-transform: rotate(-45deg) translateY(56px);
  width: 40px;
}
.arrow .second {
  -webkit-transform: rotate(45deg) translateY(-15px) translateX(40px);
}
